<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="me.gilo.woodroid.app">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
	android:name="me.gilo.woodroid.app.WcApp"
	android:allowBackup="true"
	android:icon="@mipmap/ic_launcher"
	android:label="@string/app_name"
	android:roundIcon="@mipmap/ic_launcher_round"
	android:supportsRtl="true"
	android:theme="@style/AppTheme"
	android:usesCleartextTraffic="true"
	tools:ignore="GoogleAppIndexingWarning">
	<activity
	  android:name="me.gilo.woodroid.app.ui.order.OrderActivity"
	  android:label="@string/title_activity_order"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.onboarding.AnonymousSignInActivity"
	  android:label="@string/title_activity_anonymous_sign_in"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.checkout.CheckoutActivity"
	  android:label="@string/title_activity_checkout"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.product.CartActivity"
	  android:label="@string/title_activity_cart"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.customer.ProfileActivity"
	  android:label="@string/title_activity_profile"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.customer.ShippingAddressActivity"
	  android:label="@string/title_activity_shipping_address"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.customer.BillingAddressActivity"
	  android:label="@string/title_activity_billing_address"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.customer.BasicCustomerDetailsActivity"
	  android:label="@string/title_activity_basic_customer_details"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.onboarding.UserDetailsActivity"
	  android:label="@string/title_activity_user_details"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.order.MyOrdersActivity"
	  android:label="@string/title_activity_my_orders"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.home.HomeActivity"
	  android:label="@string/title_activity_home"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name=".ui.category.CategoryActivity"
	  android:label="@string/title_activity_category"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.raison.ui.user.onboarding.SignUpActivity"
	  android:label="@string/title_activity_category"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.raison.ui.user.onboarding.SignInActivity"
	  android:label="@string/title_activity_category"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name=".ui.product.NavigatioDrawerActivity"
	  android:label="@string/title_activity_navigatio_drawer"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.product.ProductActivity"
	  android:label="@string/title_activity_product"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.product.ProductSearchActivity"
	  android:label="@string/title_activity_product_search"
	  android:theme="@style/AppTheme.NoActionBar">
	  <intent-filter>
		<action android:name="android.intent.action.SEARCH"/>
	  </intent-filter>
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.coupon.CouponActivity"
	  android:label="@string/title_activity_coupon"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.coupon.CouponsActivity"
	  android:label="@string/title_activity_coupons"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.coupon.AddCouponActivity"
	  android:label="@string/title_activity_add_coupon"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.MenuActivity"
	  android:label="@string/title_activity_menu"
	  android:theme="@style/AppTheme.NoActionBar">
	</activity>
	<activity
	  android:name="me.gilo.woodroid.app.ui.product.ShopActivity"
	  android:label="@string/title_activity_shop"
	  android:theme="@style/AppTheme.NoActionBar">
	  <meta-data
		android:name="android.app.searchable"
		android:resource="@xml/searchable"/>
	</activity>
	<activity android:name="me.gilo.woodroid.app.MainActivity">
	  <intent-filter>
		<action android:name="android.intent.action.MAIN"/>

		<category android:name="android.intent.category.LAUNCHER"/>
	  </intent-filter>
	</activity>
  </application>

</manifest>